.profile {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 15px;

  &__item {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px 10px;
    margin-bottom: 15px;

    &--button {
      width: 45px;
      height: 43px;
      border-radius: 50%;
      border: 1px solid #ddd;
      padding: 3px;
      background-color: rgb(22, 119, 255);
      color: white;
      font-weight: 600;
      font-size: 12px;
    }
  }
}

.bold {
  font-weight: 700;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
