.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 40px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.sider{
    background-color: #fff;
    position: fixed;
    top: 63px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.layout__content{
    padding: 20px 40px;
    background-color: #fff;
}

.layout__content2{
    padding: 20px 40px;
    padding-bottom: 0 !important;
    background-color: #fff;
}

.center{
    align-content: center;
}

.borderTest{
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 15px 50px;
    background-color: #ddd;
    margin-top: 10px;
}

.borderTest:first-child{
    background-color: white;
}