.boc__flash{
  width: 50%;
  justify-self: center;
}
.flashcard {
  width: 100%;
  height: 500px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 20px;
}

.loa__tron{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -25px;
  left: 45%;
  z-index: 1;
  cursor:pointer;
}

.check__tu{
  width: 100%;
  height: 150px;
  z-index: 1;
  position: absolute;
  top: 350px;
  border-radius: 20px;
  padding-left: 40px;
}

.loa{
  margin: 10px;
  font-size: 30px;
}

.flashcard .inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s;
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.flashcard.is-flipped .inner {
  transform: rotateY(180deg);
}

/* 2 mặt phải trùng kích thước với container */
.flashcard .front,
.flashcard .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* mặt sau xoay sẵn 180° để khi inner xoay sẽ hiện ra */
.flashcard .back {
  transform: rotateY(180deg);
}

.button__On{
  position: fixed;
  top: 70px;
}
