.test-in{
    margin: 10px 100px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 26px;
    width: calc(100% - 200px);
    position: absolute;
    top: 105px;
    left: -20px;
    min-height: 200px;
    max-height: calc(100% - 150px);
    padding: 50px;
    overflow-y: auto;
}

.bong1, .bong2{
    margin: 50px 100px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 26px;
    width: calc(100% - 250px);
    height: 200px;
    opacity: 0.2;
}

.bong1{
    opacity: 0.5;
    position: absolute;
    top: 90px;
    left: -5px;
}