.toeic-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    to bottom,
    #007bff 80%,
    #b3d9ff 100%
  );
  overflow: hidden;
}

.cloud {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  opacity: 0.5;
}

.cloud1 {
  top: 5%;
  left: 5%;
  width: 120px;
  height: 60px;
}

.cloud2 {
  top: 35%;
  right: 15%;
  width: 160px;
  height: 80px;
}

.cloud3 {
  bottom: 5%;
  left: 5%;
  width: 200px;
  height: 100px;
}

.btnback {
  position: fixed;
  top: 5%;
  left: 5%;
}

.card1 {
  position: relative;
  background: white;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 90%;
  padding: 10px;
  text-align: center;
}
.card {
  position: relative;
  background: white;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 90%;
  padding: 40px;
  text-align: center;
  z-index: 100;
}

.card h3 {
  color: #4b5563;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card h1 {
  color: #1e3a8a;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

.card-content {
  text-align: left;
  color: #374151;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.start-btn {
  height: 50px;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  background: linear-gradient(to top, #b3d9ff, transparent);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.time{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 74px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  min-width: 650px;
}
.time button {
  height: 70px;
  width: 14%;
  border: none;
}

.active {
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

.ant-btn.css-dev-only-do-not-override-1cj4ms.ant-btn-default.ant-btn-color-default.ant-btn-variant-outlined.active:hover {
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

.itemStudy{
  background-color: white;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  width: 100%;
  min-width: 650px;
}

.flexStudy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}
