.list__header{
    display: flex;
    justify-content: space-between;

    &--title{
        font-weight: 700;
        font-size: 20px;
    }

    &--quantity{
        font-weight: 400;
        color: #3e3737;
        font-size: 20px;
    }
}