.detail__course{
    position: relative;
}

.button__create{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b8e7f9;
    position: fixed;
    bottom: 20px;
    right: 30px;
}
.back{
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.right{
    position: sticky;
    top: 80px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;

    img{
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100px;
        overflow: hidden;
        object-fit: contain;
    }

    &__title{
        margin: 15px 0;
        text-align: center;
    }
}