.header__lesson{
    margin-bottom: 20px;
    &--title{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &--description{
        font-size: 16px;
        font-family: Inter, sans-serif;
        font-weight: 500;
        color: #444343;
        line-height: 24px;
    }
}